*.iml
*.idea/

/.project
/.settings
/subsonic-main/target
/subsonic-main/.settings
/subsonic-main/.classpath
/subsonic-main/.project
/subsonic-main/nb-configuration.xml
/subsonic-backend/.settings
/subsonic-backend/.project
/subsonic-backend/.classpath
/subsonic-backend/target
/subsonic-assembly/.settings
/subsonic-assembly/.project
/subsonic-assembly/.classpath
/subsonic-assembly/target
/subsonic-android/.settings
/subsonic-android/.project
/subsonic-android/.classpath
/subsonic-android/target
/subsonic-blackberry/.settings
/subsonic-blackberry/.project
/subsonic-blackberry/.classpath
/subsonic-blackberry/target
/subsonic-booter/.settings
/subsonic-booter/.project
/subsonic-booter/.classpath
/subsonic-booter/target
/subsonic-installer-rpm/.settings
/subsonic-installer-rpm/.project
/subsonic-installer-rpm/.classpath
/subsonic-installer-rpm/target
/subsonic-installer-windows/.settings
/subsonic-installer-windows/.project
/subsonic-installer-windows/.classpath
/subsonic-installer-windows/target
/subsonic-site/.settings
/subsonic-site/.project
/subsonic-site/.classpath
/subsonic-site/target
/subsonic-installer-mac/.settings
/subsonic-installer-mac/.project
/subsonic-installer-mac/.classpath
/subsonic-installer-mac/target
/subsonic-installer-debian/.settings
/subsonic-installer-debian/.project
/subsonic-installer-debian/.classpath
/subsonic-installer-debian/target
/subsonic-rest-api/target/
/subsonic-sonos-api/target/

